.btn {
    padding: 5px 15px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

.btn:hover,
.btn:focus {
    background-color: rgb(42 121 255);
    color: white;
    transition: all 0.2s;
}